<div class="table-responsive mt0">
    <table id="tblcarrierUserslst" class="table table-hover table-striped dataTable mt0">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th >Phone Number</th>
                <th >Country</th>
                <th >State</th>  
                <th >Carrier</th> 
                <th></th>               
                <th >Actions</th> 
            </tr>
        </thead>
        <tbody>           
        </tbody>
    </table>
</div>
