
<div class="panel-body table-responsive">
    <table id="tblAppovalList" class="table table-hover table-striped dataTable">
        <thead>
            <tr>
                <th width="130">Company Name</th>
                <th width="130">Contact Person</th>
                <th width="100">Contact No.</th>
                <th width="150">Email</th>
                <th width="80">MCDotNumber</th>
                <th>Country</th>
                <th>State</th>
                <th></th>
                <th width="130">Requested Date</th>
                <th>Response By</th>
                <th>Response Date</th>       
                <th width="220">Actions</th>        
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
