<div class="searchbar-collapse">
    <div class="col-md-10 col-md-offset-1">
        <div class="form-section">
                <form asp-controller="Search" asp-action="SearchListing" method="get" role="form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw fa-plane"></i></span>
                                <input type="text" for="Origin" name="Origin" class="form-control" placeholder="From">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw fa-plane fa-rotate-90"></i></span>
                                <input type="text" for="Destination" name="Destination" class="form-control" placeholder="To" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="text" name="ArriveByDate" for="ArriveByDate" placeholder="Arrive By" onfocus="(this.type='date')" />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn btn-default btn-primary" value="Search" />
                    </div>
                </form>
        </div>
    </div>
</div>