
<h4>Completed Ratings</h4>
<hr />
<div class="panel-body table-responsive">
    <table id="tblYourRatingsList" class="table table-hover table-striped dataTable ratings-block">
        <thead>
            <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Carrier Name</th>
                <th>Reference</th>  
                <th>Departed Date</th>
                <th>Arrival Date</th>
                <th>Overall Experience</th>
                <th>Service</th>
                <th>Communication</th>
                <th>Price</th>                
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>